.nav-glyphish-example .ui-btn { padding-top: 40px !important; }
.nav-glyphish-example .ui-btn:after { width: 30px!important; height: 30px!important; margin-left: -15px !important; box-shadow: none!important; -moz-box-shadow: none!important; -webkit-box-shadow: none!important; -webkit-border-radius: 0 !important; border-radius: 0 !important; }

.back-btn { float: right; margin: 0 2em 1em 0; }

.lyrics
{
    text-align: center;
    max-height:300px;
    overflow:scroll;
}

a
{
    text-decoration: none;
}
h4
{
    text-align: center;
}
img{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    height: 100%;
    width: 100%;
}





















/*--------------------------------------------- THE END -----------------------------------------------------------------------------------------------*/
/*-------------------------------- Josipa Juricic, PROMA, PMFST, 2019/20 ------------------------------------------------------------------------------*/